language: node_js
node_js:
  - '12'
  - '10'

cache: yarn

dist: trusty
sudo: false
addons:
  chrome: stable
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install:
  - yarn install
script:
  - yarn test
